.dog_card_container {
  display: flex;
  justify-content: center; /* horisontellt */
  align-items: center;     /* vertikalt */
  min-height: 80vh;        /* nästan hela skärmens höjd */
  padding: 16px;
  flex-direction: column;
}

.dog_card {
  display: flex;
  align-items: flex-start ;    /* vertikal centrering */
  gap: 16px;                      /* mellanrum mellan bild och text */
  background-color: #ffffff;
  padding: 16px 20px;
  border: 1px solid rgba(0,0,0,0,1);
  border-radius: 16px;            /* rundade hörn */
  box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* skugga för "kort-känsla" */
  max-width: 360px;
  font-family: 'Nunito', sans-serif;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dog_card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.dog_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;             /* rund bild */
  object-fit: cover;
  flex-shrink: 0;
}

.dog_info {
  display: flex;
  flex-direction: column;
}

.dog_name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.owner_name {
  margin: 0;
  font-size: 1.25rem;
  color: #555;
}