.homePage_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #a8d8ff 0%, #f0f9ff 50%, #ffffff 100%);
}