.custom_button {
  background-color: #1a2a6c; 
  border: 2px solid rgba(255, 0, 0, 0.5);
  color: #ffffff;            
  padding: 12px 24px; 
  margin-bottom: 14px; 
  margin: 16px;      
  border-radius: 12px;        
  font-size: clamp(1rem, 2vw, 1.25rem); /*följer med skärmstorleken*/
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  transition: all 0.3s ease;   
}


.custom_button:hover {
  background-color: #007b8f;  
  transform: translateY(-2px); 
  box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}


@media (max-width: 600px) {
  .custom_button {
    width: 100%;  
    padding: 10px 0;
    font-size: 1rem;
  }
}